html, body, #map {
  width: 100%;
  height: 100%;
  margin: 0;
}

#autocomplete {
  position: absolute;
  top: 40px;
  width: 100%;
  height: 25px;
}

.list-view {
    position: absolute;
    top: 65px;
    z-index: 1;
    background: rgba(23,50,78,.5);
    color: white;
}

.list-view p {
    font-size: 1.4em;
    font-weight: bold;
    margin: 10px 5px;
}

.list-view p:hover {
    background: rgba(23,50,78,.7);
    cursor: pointer;
}