html, body, #map {
  width: 100%;
  height: 100%;
  margin: 0;
}

#autocomplete {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 25px;
}

.list-view {
    position: absolute;
    top: 30px;
    z-index: 1;
    background-image: url('C:/Users/Amit/Desktop/P5/images/chinese-food.jpg');
    color: red;
}

.list-view p {
    font-size: 1.0em;
    font-weight: bold;
    font-style: italic;
    font-family: "Times New Roman", Times, serif;
    margin: 10px 5px;
}

.list-view p:hover {
    background: hsl(0, 100%, 95%);
    cursor: pointer;
}